<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Painel Admin - GTR</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/menu_admin.css') }}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
</head>
<body>
  <header>
    <div class="top-bar">
      <div class="user-actions">
        <button class="btn-user">
          <i class="fas fa-user"></i> {{ usuario }}
        </button>
        <span class="separator">|</span>
        <a href="{{ url_for('logout') }}" class="btn-logout">
          <i class="fas fa-sign-out-alt"></i> SAIR
        </a>        
      </div>
    </div>
  </header>

  <div class="container">
    <aside class="sidebar">
      <a href="{{ url_for('admin') }}">
        <h1>GTR</h1>
        <p class="subtitulo">GESTÃO DE TICKET REFEIÇÃO</p>
      </a>

      <nav class="menu">
        <a href="{{ url_for('cadastro') }}">
          <i class="fas fa-user-plus"></i> Cadastro Colaborador
        </a>
        <a href="{{ url_for('cadastro_usuario') }}">
          <i class="fas fa-user-plus"></i> Cadastro Usuário
        </a>
        <a href="#" id="menu-relatorios">
          <i class="fas fa-chart-bar"></i> Relatórios
          <i class="fas fa-chevron-down arrow"></i>
        </a>
        <ul id="submenu-relatorios" style="display: none;">
          <li><a href="{{ url_for('relatorio_totalEmissao') }}">Total de Senhas Emitidas</a></li>
          <li><a href="{{ url_for('relatorio_emissaoDiaria') }}">Relação de Emissões Diárias</a></li>
          <li><a href="{{ url_for('relatorio_totalVisitantes') }}">Total por Tipo de Visitantes</a></li>
          <li><a href="{{ url_for('relatorio_totalDepartamento') }}">Total por Departamento</a></li>
        </ul>
      </nav>
    </aside>

    <main class="main-content">
      {% if module == 'cadastro' %}
        <div id="cadastro-content">
          <h2>Cadastro de Colaborador</h2>
          {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
              <div class="flash-container" id="flash-container">
                {% for category, message in messages %}
                  <div class="flash-message {{ category }}">{{ message }}</div>
                {% endfor %}
              </div>
            {% endif %}
          {% endwith %}
          <form method="POST" action="{{ url_for('cadastro') }}" onsubmit="return validarFormulario()" class="form-grid">
            <div class="form-group">
              <label for="nome">Nome:</label>
              <input type="text" id="nome" name="nome" required>
            </div>
          
            <div class="form-group">
              <label for="cpf">CPF:</label>
              <input type="text" id="cpf" name="cpf" required maxlength="14" oninput="formatarEValidarCPF(this)">
              <small id="cpf-feedback" style="font-size: 12px; color: red;"></small>
            </div>
          
            <div class="form-group">
              <label for="cargo">Cargo:</label>
              <input type="text" id="cargo" name="cargo" required>
            </div>
          
            <div class="form-group">
              <label for="departamento">Departamento:</label>
              <select id="departamento" name="departamento" required>
                <option value="" disabled selected>Selecione o departamento</option>
                {% for d in departamentos %}
                  <option value="{{ d }}">{{ d }}</option>
                {% endfor %}
              </select>
            </div>
          
            <div class="form-group">
              <label for="tipo">Tipo:</label>
              <select id="tipo" name="tipo" required>
                <option value="" disabled selected>Selecione a quantidade de refeições pode emitir por dia</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
              </select>
            </div>
          
            <div class="form-actions">
              <button type="submit" id="btn-enviar">Cadastrar</button>
            </div>
          </form>
          <div class="lista_colaboradores">
            <h3>Lista de Colaboradores</h3>

            <form method="GET" class="form-grid" action="{{ url_for('cadastro') }}">
              <div class="form-group">
                <input type="text" name="search" id="search" placeholder="Insira o Nome ou o CPF para buscar" class="search-input">
              </div>
              <div class="form-actions">
                <button type="submit" id="btn-enviar">Buscar</button>
              </div>
              
            </form>
          <table>
            <thead>
              <tr>
                <th>ID</th>
                <th>Nome</th>
                <th>CPF</th>
                <th>Cargo</th>
                <th>Departamento</th>
                <th>Quantidade de Refeições/dia</th>
                <th>Ação</th>
              </tr>
            </thead>
            <tbody>
              {% if colaboradores %}
                {% for colaborador in colaboradores %}
                  <tr>
                    <td>{{ colaborador[0] }}</td> <!-- ID -->
                    <td>{{ colaborador[1] }}</td> <!-- Nome -->
                    <td>{{ colaborador[2] }}</td> <!-- CPF -->
                    <td>{{ colaborador[3] }}</td> <!-- Cargo -->
                    <td>{{ colaborador[4] }}</td> <!-- Departamento -->
                    <td>{{ colaborador[5] }}</td> <!-- Tipo -->
                    <td>
                      <form method="POST" id="form_excluir" action="{{ url_for('excluir_colaborador', colaborador_id=colaborador[0]) }}" onsubmit="return confirm('Tem certeza que deseja excluir este colaborador?');">
                        <button type="submit" id="btn-excluir">✖</button>
                      </form>
                    </td>
                  </tr>
                {% endfor %}
              {% else %}
                <tr>
                  <td colspan="7">Nenhum colaborador encontrado.</td>
                </tr>
              {% endif %}
            </tbody>
          </table>
          </div>
          

          <div class="pagination">
            {% if page > 1 %}
              <a href="{{ url_for('cadastro', page=page-1) }}">&laquo; Anterior</a>
            {% endif %}

            Página {{ page }} de {{ total_pages }}

            {% if page < total_pages %}
              <a href="{{ url_for('cadastro', page=page+1) }}">Próxima &raquo;</a>
            {% endif %}
          </div>
        </div>
        
        {% elif module == 'cadastro_usuario' %}
        <div id="cadastro-usuario-content">
          <h2>Cadastro de Usuário</h2>
          {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
              <div class="flash-container" id="flash-container">
                {% for category, message in messages %}
                  <div class="flash-message {{ category }}">{{ message }}</div>
                {% endfor %}
              </div>
            {% endif %}
          {% endwith %}

          <form method="POST" action="{{ url_for('cadastro_usuario') }}" class="form-grid">
            <div class="form-group">
              <label for="nome">Nome:</label>
              <input type="text" id="nome" name="nome" required>
            </div>

            <div class="form-group">
              <label for="usuario">Usuário:</label>
              <input type="text" id="usuario" name="usuario" required>
            </div>

            <div class="form-group">
              <label for="senha">Senha:</label>
              <input type="password" id="senha" name="senha" required>
            </div>

            <div class="form-group">
              <label for="perfil">Perfil:</label>
              <select id="perfil" name="perfil" required>
                <option value="" disabled selected>Selecione o perfil</option>
                <option value="admin">Administrador</option>
                <option value="usuario">Usuário</option>
                <option value="totem_desktop">Totem Desktop</option>
                <option value="totem_tablet">Totem Tablet</option>
              </select>
            </div>

            <div class="form-actions">
              <button type="submit" id="btn-enviar">Cadastrar</button>
            </div>
          </form>

          <div class="lista_usuarios">
            <h3>Lista de Usuários</h3>
            <table>
              <thead>
                <tr>
                  <th>ID</th>
                  <th>Nome</th>
                  <th>Usuário</th>
                  <th>Perfil</th>
                  <th>Ação</th>
                </tr>
              </thead>
              <tbody>
                {% if usuarios %}
                  {% for u in usuarios %}
                    <tr>
                      <td>{{ u[0] }}</td> <!-- ID -->
                      <td>{{ u[1] }}</td> <!-- Nome -->
                      <td>{{ u[2] }}</td> <!-- Usuário -->
                      <td>{{ u[3] }}</td> <!-- Perfil -->
                      <td>
                        <form method="POST" id="form_excluir" action="{{ url_for('excluir_usuario', usuario_id=u[0]) }}" onsubmit="return confirm('Tem certeza que deseja excluir este usuário?');">
                          <button type="submit" id="btn-excluir">✖</button>
                        </form>
                      </td>
                    </tr>
                  {% endfor %}
                {% else %}
                  <tr>
                    <td colspan="4">Nenhum usuário encontrado.</td>
                  </tr>
                {% endif %}
              </tbody>
            </table>
          </div>
        </div>

        
      {% elif modulo == 'relatorio_totalEmissao' %}
        <div class="relatorios-content">
          <h2>Total de Senhas Emitidas</h2>
          <form method="POST" action="{{ url_for('relatorio_totalEmissao') }}">
            <label for="data_inicial">Data Inicial:</label>
            <input type="date" name="data_inicial" required>
            
            <label for="data_final">Data Final:</label>
            <input type="date" name="data_final" required>
        
            <button type="submit" id="btn-enviar">Exportar em PDF</button>
          </form>
        </div>

      {% elif modulo == 'relatorio_emissaoDiaria' %}
        <div class="relatorios-content">
          <h2>Relação de Emissões Diárias</h2>
          <form method="POST" action="{{ url_for('relatorio_emissaoDiaria') }}">
            <label>Data: <input type="date" name="data_unica" required></label>
            
            <div style="display: flex; gap: 10px;">
              <button type="submit" name="tipo_relatorio" value="pdf" id="btn-enviar">Exportar em PDF</button>
              <button type="submit" name="tipo_relatorio" value="excel" id="btn-enviar">Exportar em Excel</button>
            </div>

          </form>
        </div>
      {% elif modulo == 'relatorio_totalVisitantes' %}
        <div class="relatorios-content">
          <h2>Total por Tipo de Visitantes</h2>
          <form method="POST" action="{{ url_for('relatorio_totalVisitantes') }}">
            <label>Data Inicial: <input type="date" name="data_inicial" required></label>
            <label>Data Final: <input type="date" name="data_final" required></label>
            
            <label for="departamento">Localização:</label>
            <select name="departamento" required>
              <option value="" disabled selected>Selecione</option>
              {% for loc in localizacoes %}
                <option value="{{ loc }}">{{ loc }}</option>
              {% endfor %}
            </select>

            <div style="display: flex; gap: 10px;">
              <button type="submit" name="tipo_relatorio" value="pdf" id="btn-enviar">Exportar em PDF</button>
              <button type="submit" name="tipo_relatorio" value="excel" id="btn-enviar">Exportar em Excel</button>
            </div>
          </form>
        </div>

      {% elif modulo == 'relatorio_totalDepartamento' %}
        <div class="relatorios-content">
          <h2>Total por Departamentos</h2>
          <form method="POST" action="{{ url_for('relatorio_totalDepartamento') }}">
            <label>Data Inicial: <input type="date" name="data_inicial" required></label>
            <label>Data Final: <input type="date" name="data_final" required></label>
            
            <label for="departamento">Departamento:</label>
            <select name="departamento" required>
              <option value="" disabled selected>Selecione</option>
              {% for dep in departamentos %}
                <option value="{{ dep }}">{{ dep }}</option>
              {% endfor %}
            </select>

            <div style="display: flex; gap: 10px;">
              <button type="submit" name="tipo_relatorio" value="pdf" id="btn-enviar">Exportar em PDF</button>
              <button type="submit" name="tipo_relatorio" value="excel" id="btn-enviar">Exportar em Excel</button>
            </div>
          </form>
        </div>
      {% else %}
        <div class="intro-content">
          <h2>Bem-vindo ao Painel Admin!</h2>
          <p>Escolha um módulo no menu à esquerda para começar.</p>
          <div class="dashboard-indicadores">
            <div class="card-indicador">
              <h3>Senhas Emitidas Hoje</h3>
              <p>{{ dashboard_data.total_hoje }}</p>
            </div>
            <div class="card-indicador">
              <h3>Última Emissão</h3>
              <p>{{ dashboard_data.ultima_emissao }}</p>
            </div>
            <div class="card-indicador">
              <h3>Total de Senhas</h3>
              <p>{{ dashboard_data.total_senhas }}</p>
            </div>
            <div class="card-indicador">
              <h3>Total de Colaboradores</h3>
              <p>{{ dashboard_data.total_colaboradores }}</p>
            </div>
            <div class="card-indicador">
              <h3>Departamentos Ativos</h3>
              <p>{{ dashboard_data.total_departamentos }}</p>
            </div>
            
          </div>
        </div>
      {% endif %}
    </main>
  </div>
  
  <script src="{{ url_for('static', filename='js/form-validations.js') }}"></script>
  <script src="{{ url_for('static', filename='js/flash-message.js') }}"></script>
  <script src="{{ url_for('static', filename='js/submenu-hide.js') }}"></script>
</body>
</html>
